{% extends 'base.html' %}
{% block title%}About{% endblock title %}
{% block body %}
<div class="about">
    <h1>Main-About</h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil numquam eos tempora iste maiores vero quae totam amet eum voluptatem! Repellat rem corporis quos quam reprehenderit sapiente facilis provident Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, numquam incidunt! Necessitatibus assumenda vel quibusdam qui ullam, accusantium, alias natus quisquam nam culpa nisi tempora similique impedit aliquid quaerat quod dolores voluptate voluptates enim cumque? Saepe consequatur commodi officia animi assumenda consectetur dolore amet dolores officiis sint hic at iusto ipsum earum explicabo id corrupti inventore minus, debitis sapiente? Nesciunt harum quibusdam ex tenetur, expedita doloribus nemo quod necessitatibus eligendi!
</div>
<div class="about-games">
    <h2>About-Games</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur cupiditate nisi impedit, officiis aperiam dolore molestiae modi iure tempore consequatur quis odit facere quasi voluptates maxime. Eum eos reprehenderit consequuntur quasi sapiente blanditiis ipsam, unde qui, culpa doloremque similique iste deleniti possimus ea quo, nobis rerum vitae consequatur. Est suscipit consectetur nobis, similique quo quod maxime dolores alias nam perspiciatis sint, natus mollitia. Voluptatem doloremque accusamus, ullam in voluptates optio molestiae totam debitis quibusdam dolorem aliquid iusto nam itaque autem, dolore dignissimos deleniti aperiam labore. Animi quae similique corporis nulla. Voluptas magnam pariatur harum quos molestiae deleniti sapiente adipisci sunt.</p>
</div>
{% endblock body %}